input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button:no-button {
}
::-webkit-scrollbar-track-piece {
  background-color: darkgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255,255,255);
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}

.App-header {
  background-color: #282c34;
  flex:1;
  border-radius: 5px;
  justify-content: center;
  width: 95%;
  align-self: center;
  margin-top: 2.5%;

}

.App-body{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex:9;
  border-radius: 5px;
  justify-content: center;
  width: 95%;
  align-self: center;
  margin-top: 2.5%;
}

.Title-text{
  align-self:end;
  text-align: center;
  color: azure;
  font-weight: bold;
  letter-spacing: 10px;
  margin: 1%;
}
.App-div{
  border-style: outset;
  border-width: medium;
  border-radius: 5px;
  margin-top: 2.5%;
  border-color: #282c34;
}
.App-div-title{
  margin-top: 2.5%;
  flex:1;
}

.App-div-div{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 95%;
  border-radius: 5px;
  background-color: aliceblue;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.App-div-div:active{
  background-color: gray;
}
.App-div-text{
  font-weight: bold;
  font-size: medium;
  flex:1;
}
.App-div-subtitle{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 95%;
  border-radius: 5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.App-div-car{
  position: fixed;
  bottom: 2.5%;
  width: 95%;
  align-self: center;
  height:10%;
  margin-bottom: 2.5%;
}
.App-btn-car{
  width: 95%;
  background-color: rgb(255, 12, 105);
  border-radius: 5px;
  border-color: aliceblue;
}
.App-text-car{
  font-weight: bold;
  align-self: center;
  color: aliceblue;
  font-size: large;
}
.App-btn-car:active{
  background-color: rgb(255, 12, 105,0.7);
}
.MyModal{
  overflow-y: scroll;
  border-width: medium;
  border-style: solid;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  height: 90%;
  background-color: aliceblue ;
  border-radius: 5px;
  align-self: center;
  align-content: center;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .MyModal {
    animation: Modal-open 0.1s;
  }
}
@keyframes Modal-open{
  from{
    transform: scale(0.1);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.App-Modal-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 2.5%;
  justify-self: center;
  justify-items: center;
}
.App-Modal-input{
  margin-top: 2.5%;
  width: 60%;
  height:10%;
  border-radius: 5px;
  text-align: center;
  text-justify: auto;
  font-size: 100%;
  resize: none;
  aspect-ratio: 1;
}
.App-Modal-num{
  border-radius: 5px;
  width: 10%;
  aspect-ratio: 1;
  margin-left: 2.5%;
  text-align: center;
  text-justify: auto;
  font-size: 100%;
  resize: none;
  border-radius: 5px;
  border-color: rgba(96, 99, 102, 0.6);
}

.App-Modal-btn{
  margin-left: 2.5%;
  flex:1;
  background-color: white;
  border-radius: 5px;
  border-color: rgba(96, 99, 102, 0.6);
}
.App-Modal-submit{
  width: 50%;
  margin-top: 2.5%;
  background-color: rgb(255, 12, 105);
  border-radius: 5px;
  border-color: aliceblue;
}
.App-Modal-submit:active{
  background-color: rgb(255, 12, 105,0.7);
}
.App-car-title-div{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin-top: 2.5%;
}
.App-car-title-btn{
  flex:1;
  margin-left: 2.5%;
  align-self: center;
  justify-self: center;
  background-color: white;
  border-radius: 5px;
  border-width: 5px;
  border-color: darkgray;
}
.App-car-title-text{
  flex:9;
}
.App-car-cards{
  width: 90%;
  margin-left: 5%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border-color: #282c34;
  border-width: 2px;
  border-style: solid;
}
.App-car-cards-div{
  flex:1;
}
.App-car-delete-btn{
  background-color: rgb(255, 12, 105);
  border-width: 1px;
  border-radius: 5px;
}